[submodule "libs/gcnmf"]
	path = libs/gcnmf
	url = https://github.com/marblet/GCNmf
[submodule "libs/imc-gae"]
	path = libs/imc-gae
	url = https://github.com/swtheing/imc-gae
[submodule "libs/sublime"]
	path = libs/sublime
	url = https://github.com/GRAND-Lab/SUBLIME
[submodule "libs/fp"]
	path = libs/fp
	url = https://github.com/twitter-research/feature-propagation
